$danger-50:#FEE7EF;
$danger-100:#FDD0DF;
$danger-200:#FAA0BF;
$danger-300:#F871A0;
$danger-400:#F54180;
$danger-500:#F31260;
$danger-600:#C20E4D;
$danger-700:#920B3A;
$danger-800:#610726;
$danger-900:#310413;

.danger-50{
    color: $danger-50;
}
.danger-100{
    color: $danger-100;
}
.danger-200{
    color: $danger-200;
}
.danger-300{
    color: $danger-300;
}
.danger-400{
    color: $danger-400;
}
.danger-500{
    color: $danger-500;
}
.danger-600{
    color:$danger-600;
}
.danger-700{
    color: $danger-700;
}
.danger-800{
    color: $danger-800;
}
.danger-900{
    color: $danger-900;
}

.bg-danger-50{
    background-color: $danger-50;
}
.bg-danger-100{
    background-color: $danger-100;
}
.bg-danger-200{
    background-color: $danger-200;
}
.bg-danger-300{
    background-color: $danger-300;
}
.bg-danger-400{
    background-color: $danger-400;
}
.bg-danger-500{
    background-color: $danger-500;
}
.bg-danger-600{
    background-color: $danger-600;
}
.bg-danger-700{
    background-color: $danger-700;
}
.bg-danger-800{
    background-color: $danger-800;
}
.bg-danger-900{
    background-color: $danger-900;
}