$default-50:#FAFAFA;
$default-100:#F4F4F5;
$default-200:#E4E4E7;
$default-300:#D4D4D8;
$default-400:#A1A1AA;
$default-500:#71717A;
$default-600:#52525B;
$default-700:#3F3F46;
$default-800:#27272A;
$default-900:#18181B;

.default-50{
    color: $default-50;
}
.default-100{
    color: $default-100;
}
.default-200{
    color: $default-200;
}
.default-300{
    color: $default-300;
}
.default-400{
    color: $default-400;
}
.default-500{
    color: $default-500;
}
.default-600{
    color:$default-600;
}
.default-700{
    color: $default-700;
}
.default-800{
    color: $default-800;
}
.default-900{
    color: $default-900;
}

.bg-default-50{
    background-color: $default-50;
}
.bg-default-100{
    background-color: $default-100;
}
.bg-default-200{
    background-color: $default-200;
}
.bg-default-300{
    background-color: $default-300;
}
.bg-default-400{
    background-color: $default-400;
}
.bg-default-500{
    background-color: $default-500;
}
.bg-default-600{
    background-color: $default-600;
}
.bg-default-700{
    background-color: $default-700;
}
.bg-default-800{
    background-color: $default-800;
}
.bg-default-900{
    background-color: $default-900;
}