$success-50:#E8FAF0;
$success-100:#D1F4E0;
$success-200:#A2E9C1;
$success-300:#74DFA2;
$success-400:#45D483;
$success-500:#17C964;
$success-600:#12A150;
$success-700:#0E793C;
$success-800:#095028;
$success-900:#095028;
.success-50{
    color: $success-50;
}
.success-100{
    color: $success-100;
}
.success-200{
    color: $success-200;
}
.success-300{
    color: $success-300;
}
.success-400{
    color: $success-400;
}
.success-500{
    color: $success-500;
}
.success-600{
    color:success-600;
}
.success-700{
    color: $success-700;
}
.success-800{
    color: $success-800;
}
.success-900{
    color: $success-900;
}

.bg-success-50{
    background-color: $success-50;
}
.bg-success-100{
    background-color: $success-100;
}
.bg-success-200{
    background-color: $success-200;
}
.bg-success-300{
    background-color: $success-300;
}
.bg-success-400{
    background-color: $success-400;
}
.bg-success-500{
    background-color: $success-500;
}
.bg-success-600{
    background-color: $success-600;
}
.bg-success-700{
    background-color: $success-700;
}
.bg-success-800{
    background-color: $success-800;
}
.bg-success-900{
    background-color: $success-900;
}