$worning-50:#FEFCE8;
$worning-100:#FDEDD3;
$worning-200:#FBDBA7;
$worning-300:#F9C97C;
$worning-400:#F7B750;
$worning-500:#F5A524;
$worning-600:#C4841D;
$worning-700:#936316;
$worning-800:#62420E;
$worning-900:#312107;

.worning-50{
    color: $worning-50;
}
.worning-100{
    color: $worning-100;
}
.worning-200{
    color: $worning-200;
}
.worning-300{
    color: $worning-300;
}
.worning-400{
    color: $worning-400;
}
.worning-500{
    color: $worning-500;
}
.worning-600{
    color:$worning-600;
}
.worning-700{
    color: $worning-700;
}
.worning-800{
    color: $worning-800;
}
.worning-900{
    color: $worning-900;
}

.bg-worning-50{
    background-color: $worning-50;
}
.bg-worning-100{
    background-color: $worning-100;
}
.bg-worning-200{
    background-color: $worning-200;
}
.bg-worning-300{
    background-color: $worning-300;
}
.bg-worning-400{
    background-color: $worning-400;
}
.bg-worning-500{
    background-color: $worning-500;
}
.bg-worning-600{
    background-color: $worning-600;
}
.bg-worning-700{
    background-color: $worning-700;
}
.bg-worning-800{
    background-color: $worning-800;
}
.bg-worning-900{
    background-color: $worning-900;
}