$base-default: #d4d4d8;
$base-primary: #006fee;
$base-secondary: #7828c8;
$base-success: #17c964;
$base-warning: #f5a524;
$base-danger: #f31260;

.base-default {
  color: $base-default;
}
.base-primary {
  color: $base-primary;
}
.base-success {
  color: $base-success;
}
.base-warning {
  color: $base-warning;
}
.base-danger {
  color: $base-danger;
}

.bg-base-default {
  background-color: $base-default;
}
.bg-base-primary {
  background-color: $base-primary;
}
.bg-base-success {
  background-color: $base-success;
}
.bg-base-warning {
  background-color: $base-warning;
}
.bg-base-warning {
  background-color: $base-warning;
}
