$warning-50: #fefce8;
$warning-100: #fdedd3;
$warning-200: #fbdba7;
$warning-300: #f9c97c;
$warning-400: #f7b750;
$warning-500: #f5a524;
$warning-600: #c4841d;
$warning-700: #936316;
$warning-800: #62420e;
$warning-900: #312107;

.warning-50 {
  color: $warning-50;
}
.warning-100 {
  color: $warning-100;
}
.warning-200 {
  color: $warning-200;
}
.warning-300 {
  color: $warning-300;
}
.warning-400 {
  color: $warning-400;
}
.warning-500 {
  color: $warning-500;
}
.warning-600 {
  color: $warning-600;
}
.warning-700 {
  color: $warning-700;
}
.warning-800 {
  color: $warning-800;
}
.warning-900 {
  color: $warning-900;
}

.bg-warning-50 {
  background-color: $warning-50;
}
.bg-warning-100 {
  background-color: $warning-100;
}
.bg-warning-200 {
  background-color: $warning-200;
}
.bg-warning-300 {
  background-color: $warning-300;
}
.bg-warning-400 {
  background-color: $warning-400;
}
.bg-warning-500 {
  background-color: $warning-500;
}
.bg-warning-600 {
  background-color: $warning-600;
}
.bg-warning-700 {
  background-color: $warning-700;
}
.bg-warning-800 {
  background-color: $warning-800;
}
.bg-warning-900 {
  background-color: $warning-900;
}
